.season-timeline {
  background-color: #021713;
  padding: 0 1em;
  color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .season-timeline {
    background-size: cover;
    padding: 0 2.5em;
  }
}

.season-btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding: 0.5em 3em;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  border-radius: 0.3em;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ffffff;
    color: #021713;
  }
}

.past-title-container {
  margin-top: 4em;
  position: relative;
  text-align: center;
  margin-bottom: 2em;
}

.past-section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 6.25em;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1.4px rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);
  z-index: 1;
  white-space: nowrap;
}

.past-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4em;
  color: #ffffff;
  z-index: 2;
  position: relative;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .past-title-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .past-section-title {
    font-size: 1.5em;
    margin-top: 5px;
  }
  .past-title {
    font-size: 1em;
    margin-top: 1.3em;
    text-wrap: nowrap;
  }
}

.timeline {
  width: 100%;
  background-image: url('./background.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .timeline {
    height: 100vh;
  }
}

.image-container {
  width: 50%;
  height: 50%;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .image-container {
    width: 40%;
  }
}

.season-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.connector {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
  margin-bottom: 0.2em;
}

.dotted-line {
  width: 2px;
  height: 60px;
  background-image: linear-gradient(to bottom, white 50%, transparent 50%);
  background-size: 2px 10px;
  background-repeat: repeat-y;
}

.diamond {
  width: 12px;
  height: 12px;
  background-color: white;
  transform: rotate(45deg);
  margin-top: 8px;
}

.season-info {
  text-align: center;
}

.season-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.desktop-view {
  display: none;
}

.mobile-view {
  display: block;
}

.slick-dots {
  bottom: -3em !important;
  display: flex !important;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button:before {
  color: white !important;
  opacity: 0.5;
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .desktop-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8em;
  }

  .mobile-view {
    display: none;
  }

  .timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    margin-bottom: 40px;
  }

  .timeline-item.high {
    margin-top: 0;
  }

  .timeline-item.low {
    margin-top: 100px; /* Adjust this value to set the desired lower height */
  }

  .image-container {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .connector {
    height: 120px;
  }

  .dotted-line {
    height: 100px;
  }

  .diamond {
    width: 12px;
    height: 12px;
  }
}
