.sponsors-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #021713;
  padding: 0 1.4em;
  // min-height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
}


.sponsors-title-container {
  margin-top: 4em;
  position: relative;
  text-align: center;
  margin-bottom: 2em;
}
.to-be {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: #ffffff;
  z-index: 2;
  position: relative;
  opacity: 0.3;
  margin: 1em 0;
}

.sponsors-section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 6.25em;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1.4px rgba(255, 255, 255, 0.15);
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -58%);
  z-index: 1;
  white-space: nowrap;
}

.sponsors-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4em;
  color: #ffffff;
  z-index: 2;
  position: relative;
  margin-top: 0px;
}

@media (max-width: 991px) {
  .sponsors-title-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .sponsors-section-title {
    font-size: 1.5em;
    margin-top: 5px;
  }
  .sponsors-title {
    font-size: 1em;
    margin-top: -0.4em;
    text-wrap: nowrap;
  }
  .to-be {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-wrap: nowrap;
    opacity: 0.3;
  }
}
